body{
	background-color: #eee
}
.container{
	display: table;
	width: 90%;
}
.fila{
	display: table-row;

}
.celda{
	display: table-cell;
	border: 2px solid #ff2200;
	padding: 1em;
	text-align: center;
}